/* General CSS */
body{
    margin: 0;
    padding: o;
    font-family: 'Lato', sans-serif;
}
img{
    max-width: 100%;
    border: none;
    vertical-align: middle;
}
/* layout */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
#header{
    border-bottom: solid 1px black;
}
#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo{
flex-basis: 110px;
}

.main-navigation{
    flex-basis: 100%;
    
}

.main-navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
.menu-toggle svg{
display: none;
}



.main-navigation li{
    line-height: 50px;
    position: relative;
}
.main-navigation a{
    text-decoration: none;
    color: #000;
}
.main-navigation .menu > li >a{
    text-transform: uppercase;
    padding: 15px 20px;
}

.main-navigation a:hover,
.main-navigation a:focus{
    color: #777;
}
.main-navigation svg{
    width: 12px;

}
.main-navigation .sub-menu-toggle{
    margin-left: 5px;
    top: 4px;
    position: relative;

}

.main-navigation li:hover .sub-menu{
    display: block;
}
.main-navigation .sub-menu li{
    padding: 10px 0;
    line-height: 15px;
}
.main-navigation .sub-menu li a{
    padding-left: 20px;
}

#home-top{
    background-color: #000;
    background-image: linear-gradient(to right, #000, #666);
    padding: 12% 0;
    text-align: center;
}

#home-top h1, #home-top p{
    color: #fff;
}
#home-top p {
    font-size: 18px;
    padding: 0 15%;
}

#home-top .cta{
    text-decoration: none;
    border: 2px solid;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    color: #ccc;
}

#home-top .cta:hover{
    color: #fff;
}

.section{
    padding: 50px 0;
    
}
.section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2em;
}
/* about section */
.section .container{
    display: flex;
    
}
.section .container .left-column, .section .container .right-column{
    flex-basis: 0;
    flex-grow: 1;
}
#about .container{
    column-gap: 30px;
}
.about-text p{
    font-size: 16px;
}
#about .about-pic{
    box-shadow: -10px 5px 10px #3a393970;
}
#services .service-item{
    text-align: center;
    margin: 10px;
}
#services .service-item .icon{
    width: 55px;
    height: 55px;
    display: inline-block;
}
#services .service-item .icon svg{
    width: 100%;
    height: 100%;
}

#services .service-item p{
color: #888;
font-size: 14px;
}

/* portfolio */
#portfolio .container {
    flex-wrap: wrap;
}
#portfolio .column{
    flex-basis: 25%;
}

#portfolio .portfolio-item{
    margin: 5px;
    height: 200px;
    overflow: hidden;
}
#portfolio .portfolio-item a img {
    width: 100%;
    height: 200px;
    transition: transform 0.3s;
}

#portfolio .portfolio-item a {
    position: relative;
    display: block;
}

#portfolio .portfolio-item a::before {
   content: "";
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0 0 0 / 50%);
   background-image: url(assets/loupe.png);
   background-position: center;
   background-repeat: no-repeat;
   z-index: 1;
   opacity: 0;
}
#portfolio .portfolio-item:hover a::before{
    opacity: 1;
}

#portfolio .portfolio-item:hover img{
    transform: scale(1.1);

}
#blog{
    background-color: rgb(240, 240, 240);
}
#blog .container{
    flex-wrap: wrap;
    column-gap: 20px;
}

#blog .column {
    width: calc(25% - 20px);
}
#blog .post{
    background-color: rgb(247, 246, 246);
    padding: 10px;
}
#blog .post .category{
    margin-top: 5px;
}
#blog .post h2{
font-size: 24px;
text-align: left;
line-height: 20px;
}

#blog .container .column:hover{
    margin-top: -10px;
    transition-duration: 0.5s;
}
.read-more{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.black-btn{
    background-color: #000;
    display: inline-block;
    color: #fff;
    padding: 15px 35px;
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
    transition: padding 0.3s;
    border: none;
    outline: none;

}
.black-btn:hover{
    padding: 15px 50px;
}

/* contact */
#contact .contact-us{
    max-width: 700px;
    margin: 0 auto;
}
#contact form{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#contact input[type="text"],
#contact input[type="email"],
#contact textarea{
border: none;
outline: none;
border-bottom: 1px solid #000;
padding: 10px 5px;
font-size: 16px;
margin: 0 10px;
}
#contact .user-name{
    flex-basis: calc(50% - 30px);
}
#contact .user-email{
    flex-basis: calc(50% - 30px);
}
#contact textarea{
    width: 100%;
    min-height: 100px;
    height: 120px;
}
#contact input[type='submit']{
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

/* contact end */
.site-footer{
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}
.site-footer .social-links svg{
    width: 16px;
    fill: rgb(208, 207, 207);
}
.site-footer .social-links{
    text-align: center;
}
.site-footer .social-links a{
    transition: transform 0.5s;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    margin: 5px;
}
.site-footer .social-links a:hover{
    transform: rotate(-360deg);
}
.copyright{
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
}

@media(min-width: 1024px){
    .main-navigation .menu{
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
    }
    .main-navigation .sub-menu{
        position: absolute;
        background-color: #fff;
        min-width: 220px;
        z-index: 9;
        box-shadow: 6px 6px 12px 0px rgb(0 0 0 / 50%);
        top: 100%;
        left: 0;
        display: none;
    }
}
@media (max-width: 1023px){
    #header .container{
        flex-wrap: wrap;
        padding: 0 10px;
    }
    .main-navigation{
        display: none;
    }
    .main-navigation .sub-menu-toggle{
        float: right;
        width: 15px;
    }
    .menu-toggle svg{
        width: 30px;
        display: block;
    }
    .main-navigation li {
        line-height: 40px;
    }
    .main-navigation .menu > li >a {
        border-bottom: 1px solid #dedede;
        display: block;
        padding: 0px 10px;
    }
    .main-navigation ul li ul li{
        border-bottom: 1px solid #dedede;
        padding: 20px 20px;
        display: block;
    }
    .about-text p {
        font-size: 14px;
        margin: 0;
    }
    
}
@media (max-width: 550px){
    #home-top h1 {
        font-size: 24px;
    }
    #home-top p {
        font-size: 16px;
        padding: 10px 7px;
    }
    #about .container {
        display: block;
       
    }
    #about .about-pic {
        box-shadow: none;
    }
    .about-text {
        padding: 10px;
    }
    #services .container{
        display: block;
    }
    #portfolio .container{
        display: block;
    }
    #blog .column {
        width: 100%;
    }
    #contact .user-name, #contact .user-email, #contact textarea{
        flex-basis: 100%;
        margin: 0 10px;
    }
    #blog .post {
        padding: 20px;
        margin: 20px;
    }
    #portfolio .portfolio-item {
        margin: 10px;
    }
    #services .service-item {
        margin: 30px 10px;
    }
}
