/* General CSS */
body{
    margin: 0;
    padding: o;
    font-family: 'Lato', sans-serif;
}
img{
    max-width: 100%;
    border: none;
    vertical-align: middle;
}
/* layout */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
#header{
    border-bottom: solid 1px black;
}
#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo{
flex-basis: 110px;
}

.main-navigation{
    flex-basis: 100%;
    
}

.main-navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
.main-navigation .menu{
    display: flex;
    justify-content: flex-end;
}

.main-navigation li{
    line-height: 50px;
    position: relative;
}
.main-navigation a{
    text-decoration: none;
    color: #000;
}
.main-navigation .menu > li >a{
    text-transform: uppercase;
    padding: 15px 20px;
}

.main-navigation a:hover,
.main-navigation a:focus{
    color: #777;
}
.main-navigation svg{
    width: 12px;

}
.main-navigation .sub-menu-toggle{
    margin-left: 5px;
    top: 4px;
    position: relative;

}
.main-navigation .sub-menu{
    position: absolute;
    background-color: #fff;
    min-width: 220px;
    z-index: 9;
    box-shadow: 6px 6px 12px 0px rgb(0 0 0 / 50%);
    top: 100%;
    left: 0;
    display: none;
}
.main-navigation li:hover .sub-menu{
    display: block;
}
.main-navigation .sub-menu li{
    padding: 10px 0;
    line-height: 15px;
}
.main-navigation .sub-menu li a{
    padding-left: 20px;
}

#home-top{
    background-color: #000;
    background-image: linear-gradient(to right, #000, #666);
    padding: 12% 0;
    text-align: center;
}

#home-top h1, #home-top p{
    color: #fff;
}
#home-top p {
    font-size: 18px;
    padding: 0 15%;
}

#home-top .cta{
    text-decoration: none;
    border: 2px solid;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    color: #ccc;
}

#home-top .cta:hover{
    color: #fff;
}

.section{
    padding: 50px 0;
    
}
.section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2em;
}
/* about section */
.section .container{
    display: flex;
    
}
.section .container .left-column, .section .container .right-column{
    flex-basis: 0;
    flex-grow: 1;
}
#about .container{
    column-gap: 30px;
}
.about-text p{
    font-size: 16px;
}
#about .about-pic{
    box-shadow: -10px 5px 10px #3a393970;
}
